/* your code here */
.controls
{
	display:flex;
	justify-content:space-between;
}
ul{
	display:flex;
}
.hm
{
	border:1px solid lightgray;
	margin:5px;
}
.photo-main
{
	background-color:lightgreen;
	width:max-content;
	padding: 10px;
}
.photo-container
{
	background-color:white;;
	width:max-content;
	margin:0px 50px 0px 0px;
}
body
{
	background-color:green;
	padding:50px;
}
.product
{
	display:flex;
}
.pi
{
	display:flex;
	flex-direction:column;
}
#btn
{
	background-color:red;
	color:white;
	padding:15px 30px 15px 30px;
	border-radius:10px;
}
